.page_title {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.layout {
  background-color: #0e0e0e;
  color: #ffffff;
}

.api_token_wrapper {
  padding: 24px;
  background: #151717;
  margin-top: 34px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.api_token {
  padding-right: 24px;
  border-right: 1px solid #252525;
}

.api_token_input {
  flex: 1;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #0e0e0e;
  color: inherit;
  border: 0;
}

.get_api_token {
  padding-left: 24px;
}

.request_wrapper {
  padding: 24px;
  background: #151717;
}

.request_input {
  width: 100%;
  height: 180px;
  background: inherit;
  color: inherit;
  margin-bottom: 25px;
}

.request_input_wrapper {
}
