.container {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 32px;
  display: flex;
  height: 73px;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}

.container > .sub {
  display: inline-flex;
  align-items: center;
  width: 80%;
  color: #fff;
}

.sub > .deriv_logo {
  width: 183px;
}

.sub > .hamburger_icon {
  display: none;
}

.sub > .link_container {
  display: inline-flex;
  margin-left: 5%;
  margin-right: auto;
  color: #fff;
}

.link_container > a {
  position: relative;
  line-height: 1.5;
}

.link_container > a:not(:last-child) {
  margin-right: 40px;
}

.link_container > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff444f;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.link_container > .selected:before,
.link_container > a:hover:before {
  width: 20px;
  visibility: visible;
}

.sub > .branding_text {
  font-size: 24px;
  font-weight: 400;
  margin-left: 24px;
}

@media (max-width: 768px) {
  .container {
    top: 0;
    height: 56px;
  }

  .container > .sub {
    width: 96%;
  }

  .sub > .deriv_logo {
    width: 84px;
  }

  .sub > .close_icon {
    width: 16px;
    margin-right: 12px;
  }

  .sub > .hamburger_icon {
    width: 16px;
    display: block;
    margin-right: 12px;
  }

  .sub > .link_container {
    display: none;
  }

  .sub > .branding_text {
    font-size: 16px;
    margin-left: 8px;
  }
}
