.schema_block {
  background-color: #151717;
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
}

.schema_block_head {
  background-color: hsl(0, 0%, 15%);
  padding: 24px;
}

.schema_block_properties {
  padding: 12px 0;
}

.schema_block_property {
  padding: 12px 24px;
}

.tag {
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
}
